<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Card</title>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            display: grid;
            min-height: 100vh;
            min-width: 100%;
            place-items: center;
        }

        body>div {
            padding: 1rem;
        }

        .cardGaming {
            display: inline-block;
            max-width: 180px;
            min-width: min-content;
            text-align: center;
            vertical-align: top;
            margin: 1rem;
        }

        .cardGaming>* {
            text-align: left;
        }
    </style>
</head>

<body>
    <div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/dts/freefiremax.webp" alt="Unsupported">
            <p class="gameName">Free Fire MAX</p>
            <p class="gameID">freefiremax</p>
            <p class="vendorName">Garena</p>
            <p class="vendorID">dts</p>
            <p class="gameType">Action</p>
            <p class="gameDesc">Free Fire is the ultimate survival shooter game available on mobile. Each 10-minute game
                places you on a remote island where you are pit against 49 other players, all seeking survival.</p>
            <p class="gameSize">Varies with device</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">2.65.1</p>
            <p class="gameUpdated">September 18, 2021</p>
            <p class="gameSupports">Android 4.1 and up</p>
            <p class="gameStatus">Blocked in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/aqupepgames/projectpepe.webp" alt="Unsupported">
            <p class="gameName">World of Mayhem</p>
            <p class="gameID">projectpepe</p>
            <p class="vendorName">Scopely</p>
            <p class="vendorID">aqupepgames</p>
            <p class="gameType">Role Playing</p>
            <p class="gameDesc">Build teams with your favorites toons and take down your enemies with iconic pranks and
                gags! Use classic cartoon rivalries and get bonuses when you defeat an iconic foe, like Sylvester vs.
                Tweety or Road Runner vs. Wile E Coyote.</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">32.1.0</p>
            <p class="gameUpdated">September 23, 2021</p>
            <p class="gameSupports">Android 5.0 and up</p>
            <p class="gameStatus">Avaliable in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/supercell/brawlstars.webp" alt="Unsupported">
            <p class="gameName">Brawl Stars</p>
            <p class="gameID">brawlstars</p>
            <p class="vendorName">Supercell</p>
            <p class="vendorID">supercell</p>
            <p class="gameType">Action</p>
            <p class="gameDesc">Fast-paced 3v3 multiplayer and battle royale made for mobile! Play with friends or solo
                across a variety of game modes in under three minutes.</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">38.111</p>
            <p class="gameUpdated">September 23, 2021</p>
            <p class="gameSupports">Android 4.3 and up</p>
            <p class="gameStatus">Avaliable in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/supercell/clashofclans.webp" alt="Unsupported">
            <p class="gameName">Clash of Clans</p>
            <p class="gameID">clashofclans</p>
            <p class="vendorName">Supercell</p>
            <p class="vendorID">supercell</p>
            <p class="gameType">Strategy</p>
            <p class="gameDesc">Mustachioed Barbarians, fire wielding Wizards, and other unique troops are waiting for
                you! Enter the world of Clash!</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">14.211.0</p>
            <p class="gameUpdated">September 23, 2021</p>
            <p class="gameSupports">Android 4.4 and up</p>
            <p class="gameStatus">Avaliable in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/supercell/clashroyale.webp" alt="Unsupported">
            <p class="gameName">Clash Royale</p>
            <p class="gameID">clashroyale</p>
            <p class="vendorName">Supercell</p>
            <p class="vendorID">supercell</p>
            <p class="gameType">Strategy</p>
            <p class="gameDesc">Enter the Arena! From the creators of Clash of Clans comes a real-time multiplayer game
                starring the Royales, your favorite Clash characters and much, much more.</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">3.6.1</p>
            <p class="gameUpdated">June 10, 2021</p>
            <p class="gameSupports">Android 4.1 and up</p>
            <p class="gameStatus">Avaliable in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/proximabeta/contra.webp" alt="Unsupported">
            <p class="gameName">Contra Returns</p>
            <p class="gameID">contra</p>
            <p class="vendorName">Proxima Beta</p>
            <p class="vendorID">proximabeta</p>
            <p class="gameType">Action</p>
            <p class="gameDesc">Remember the secret code: Up, Up, Down, Down, Left, Right, Left, Right, B, A to get
                extra lives? After a 30-year hiatus, the Contra you know and love is back!</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">1.29.81.5607</p>
            <p class="gameUpdated">July 26, 2021</p>
            <p class="gameSupports">Android 5.0 and up</p>
            <p class="gameStatus">Avaliable in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
        <div class="cardGaming">
            <img class="gameLogo" src="../../assets/img/supercell/clashroyale.webp" alt="Unsupported">
            <p class="gameName">Contra Returns</p>
            <p class="gameID">contra</p>
            <p class="vendorName">Proxima Beta</p>
            <p class="vendorID">proximabeta</p>
            <p class="gameType">Action</p>
            <p class="gameDesc">Remember the secret code: Up, Up, Down, Down, Left, Right, Left, Right, B, A to get
                extra lives? After a 30-year hiatus, the Contra you know and love is back!</p>
            <p class="gamePlatform">Play Store</p>
            <p class="gameAuthentication">Play Games</p>
            <p class="gameVersion">1.29.81.5607</p>
            <p class="gameUpdated">July 26, 2021</p>
            <p class="gameSupports">Android 5.0 and up</p>
            <p class="gameStatus">Avaliable in Bangladesh</p>
            <p class="emulatorName">BlueStacks</p>
            <p class="emulatorVersion">5</p>
            <p class="emulatorEditon">Pie 64-Bit Beta</p>
            <p class="emulatorInstance">GPXPM</p>
            <p class="emulatorInstanceCore">3</p>
            <p class="emulatorInstanceMemory">6045</p>
            <p class="emulatorInstanceDisplay">Full HD</p>
            <p class="emulatorInstanceDensity">Medium</p>
            <p class="emulatorInstanceGraphics">DirectX</p>
            <p class="emulatorInstanceInterface">OpenGL</p>
            <p class="emulatorInstanceType">Private</p>
        </div>
    </div>

    <script>

    </script>
</body>

</html>